@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap'); 
body, h2  {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' !important;
}

:root {
    --primary-color : #3069a6;
    --bg-color-light:#f5f6f1;
}